{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  Images guidance - page
{% endblock %}

{% block beforeContent %}
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v1">Home</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v1/images">Imagery</a></li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/v1/images">Back to Imagery</a></p>
    </div>
  </nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>Clinical approval</h1>

      <h2>When to get clinical approval</h2>

      <p>[Draft text here]</p>

      <p>[Draft text here]</p>

      <p>[Draft text here]</p>

      <h2>How to get clinical approval</h2>

      <p>[Draft text here]</p>

      <p>[Draft text here]</p>

      <p>[Draft text here]</p>

    </div>  

  </div>
{% endblock %}
