{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  Images guidance - page
{% endblock %}

{% block beforeContent %}
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v1">Home</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v1/images">Imagery</a></li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/v1/images">Back to Imagery</a></p>
    </div>
  </nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>When to use imagery</h1>

      <h2 class="nhsuk-u-margin-top-8">Use imagery if it meets a real user need, not for decoration</h2>
      <p>Images that meet real user needs can be very important on health services - especially where they help users identify specific health problems and get the treatment they need.</p>

      <p>But having unnecessary or decorative images can frustrate users, especially on information pages or transactional journeys.</p>


      <h3 class="nhsuk-u-margin-top-8">Use imagery to help improve understanding</h3>

      <h4>Instructional imagery</h4>
      <p>[Draft text here]</p>
      <p>[Draft text here]</p>

      <h4>Medical imagery</h4>
      <p>[Draft text here]</p>
      <p>[Draft text here]</p>

      <h4>Infographics and data visualisation</h4>
      <p>[Draft text here]</p>
      <p>[Draft text here]</p>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Evidence that images can help people understand health information better
          </span>
        </summary>
        <div class="nhsuk-details__text">

          <p>There's evidence that images can help people understand key information better.</p>

          <p>Health Education England explain "pictures, photographs and symbols can be used to improve understanding and reinforce key messages" in their health literacy 'how to' guide.</p>

          <p>Gill Rowland, a health literacy specialist, says that "having information available in different formats (such as graphs, pictographs, video and audio formats) may be helpful for people with lower numeracy skills, who can then choose the format they find most helpful" - reference article.</p>

          <p>Read more about this</p>
          
          <ul>
            <li><a href="https://www.researchgate.net/publication/7637576_The_Role_of_Pictures_in_Improving_Health_Communication_A_Review_of_Research_on_Attention_Comprehension_Recall_and_Adherence">The role of pictures in improving health communication</a> (Patient Education and Counseling, 2006)</li>
            <li><a href="https://www.ncbi.nlm.nih.gov/pubmed/12841808">Effect of pictograms on readability of patient information materials</a> (Ann Pharmacother paper, 2003)</li>
          </ul>

        </div>
      </details>


      <h3 class="nhsuk-u-margin-top-8">Use imagery to [point about brand]</h3>

      <h4>Brand imagery</h4>
      <p>[Draft text here]</p>

      <h3 class="nhsuk-u-margin-top-8">Use imagery to [another point]</h3>
      <p>[Draft text here]</p>

    </div>  

  </div>
{% endblock %}
